:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 15px;
}

.mail {
  display: flex;
  flex-direction: column;
  background-color: #F3E5F5;
  padding: 20px 30px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 12px;
}

.mail-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.attachments {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0;
  padding: 10px;
  background-color: #EDCEEE;
  border-radius: 8px;
}

.back-icon {
  align-self: flex-start;
  margin: 10px 0 15px 0;
}
