<button matIconButton class="back-icon" routerLink="../">
  <mat-icon>keyboard_backspace</mat-icon>
</button>

<div class="mail" *ngIf="mail">
  <div class="mail-header">
    <div>
      <h2>{{ mail.subject }}</h2>
      <p>{{ mail.sender.firstName }} {{ mail.sender.lastName }} • from {{ mail.sender.email }} • to {{mail.receiver}}</p>
      <p *ngIf="mail.sentAt!==null">sent at {{formatDateTime(mail.sentAt)}}</p>
    </div>
    <button matMiniFab aria-label="Delete mail" (click)="onDelete()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <p>{{ mail.content }}</p>

  <div class="attachments" *ngIf="mail.attachments.length > 0">
    <app-attachment
      *ngFor="let att of mail.attachments"
      [attachmentId]="att.id"
      [fileName]="att.fileName"
      [mimeType]="att.mimeType"
      [size]="att.size"
      [url]="attachmentUrls.get(att.id)??null"
      (open)="loadAttachment(mail.id, att.id)"
      (deleteClicked)="onDeleteAttachment($event)">
    </app-attachment>
  </div>
</div>
