<button matIconButton class="back-icon" routerLink="../">
  <mat-icon>keyboard_backspace</mat-icon>
</button>

<div class="mail" *ngIf="mail">
  <div class="mail-header">
    <div>
      <h2>{{ mail.subject }}</h2>
      <p>{{ mail.sender.firstName }} {{ mail.sender.lastName }} • {{ mail.sender.email }}</p>
    </div>
    <button matMiniFab aria-label="Delete mail" (click)="onDelete()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <p>{{ mail.content }}</p>

  <div class="attachments" *ngIf="mail.attachments.length > 0">
    <app-attachment
      *ngFor="let att of mail.attachments"
      [attachmentId]="att.id"
      [fileName]="att.fileName"
      [mimeType]="att.mimeType"
      [size]="att.size"
      (deleteClicked)="onDeleteAttachment($event)">
    </app-attachment>
  </div>
</div>
