:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 15px;
}
.mail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  background-color: #F3E5F5;
  padding: 5px 15px;
  width: fit-content;
  margin: auto;
}
.mail-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.attachments{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
  padding: 5px 10px;
  background-color: #EDCEEE;
}
.back-icon{
  align-self: flex-start;
  margin: 30px 0 5px 0;
}
